@import "tailwindcss";

body {
    background-color: darkslategray;
    color: white;
}

header,
footer,
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

header {
    height: 100vh;
    background-image: url('/pictures/home-2.jpg');
    background-size: cover;
}

footer {
    height: 10vh;
}

nav {
    height: 100px;
}